.btnList {
  display: flex;
  width: 300px;
  gap: 10px;
  height: 25px;
  margin: 10px auto;
  justify-content: space-between;
}

.btn {
  padding: 0 10px;
  width: 100px;
  background-color: transparent;
  color: #000;
  height: 100%;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover, .btn:focus {
   color: #fff;
   background-color: #000;
}

.btn::first-letter {
  text-transform: uppercase;
}
