.container {
  margin: auto;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(181, 198, 236);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
}
